@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 50% 5%;
    --foreground: 213 31% 91%;
    --card: 228 50% 7%;
    --card-foreground: 213 31% 91%;
    --popover: 228 50% 7%;
    --popover-foreground: 213 31% 91%;
    --primary: 234 66% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 210 40% 98%;
    --muted: 223 47% 11%;
    --muted-foreground: 215 16% 47%;
    --accent: 222 47% 14%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 50%;
    --destructive-foreground: 210 40% 98%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 234 66% 30%;
    --gold: 42 77% 45%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
